<p class="lead text-primary">Photos for <b>{{tagName}}</b> tag</p>

<div class="row mt-5 search-results">
    <div *ngFor="let photo of photos" class="col-md-3 mb-3">
      <app-photo-card [photo]="photo" [showDetail]="false"></app-photo-card>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button (click)="fetchFirstPage" class="page-link" type="button">First</button>
          </li>
          <li [ngClass]="{'disabled': currentPage <= 1}" class="page-item">
            <button (click)="fetchOtherPage('-')" class="page-link" type="button">
              <i class="fa fa-angle-left"></i>
            </button>
          </li>
          <li [ngClass]="{'disabled': currentPage >= totalPages}" class="page-item">
            <button [disabled]="currentPage >= totalPages" (click)="fetchOtherPage('+')" class="page-link" type="button">
              <i class="fa fa-angle-right"></i>
            </button>
          </li>
          <li class="page-item">
            <button (click)="fetchLastPage" class="page-link" type="button">Last</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
