@import '~src/styles/mixins';

.card {
  box-shadow: 0 1px 5px rgba(61, 61, 61, 0.12), 0 1px 5px rgba(65, 64, 64, 0.24);
  border: none;
}

.sorter {
  li {
    &:hover { cursor: pointer; }

    border: none;
    text-align: left;
    padding-left: 0;
  }

  .active {
    background-color: transparent;
    color: inherit;
    font-weight: bolder;
  }
}

.search-results {
  @include tag-card();
}
