
<p class="lead text-primary">Search for photos with a specific tag with the help of the flickr API</p>

<form [formGroup]="tagForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-7 col-auto">
      <input type="text" class="form-control" placeholder="Please enter a tag" formControlName="tags">
      <small *ngIf="noTagEnteredMessage" class="text-danger">Please enter a tag</small>
      <small *ngIf="tagAddedAlready" class="text-danger">Tag has been added, please enter a new tag!</small>
    </div>
    <div class="col-auto">
      <button type="button" (click)="resetForm()" class="btn btn-outline-secondary">Reset input</button>
    </div>
    <div class="col-auto">
      <button type="submit" [disabled]="tags.invalid" class="btn btn-primary text-uppercase">Submit</button>
    </div>
  </div>
</form>

<div class="row mt-5">
  <div class="col sorter">
    <h5>Requests</h5>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><span>Sorted by:</span></li>
      <li class="list-group-item" [ngClass]="{'active': activeSort === 'views'}" (click)="sortBy('views')">
        <span>Number of views</span>
      </li>
      <li class="list-group-item" [ngClass]="{'active': activeSort === 'datetaken'}" (click)="sortBy('datetaken')">
        <span>Date when the photo was taken</span>
      </li>
      <li class="list-group-item" [ngClass]="{'active': activeSort === 'dateupload'}" (click)="sortBy('dateupload')">
        <span>Date when the photo was uploaded</span>
      </li>
    </ul>
  </div>
</div>

<div class="row mt-3 search-results">
  <div *ngIf="!photos.length" class="lead col-md-3">No tag photos yet</div>
  <div *ngFor="let photo of photos" class="col-md-3 mb-3">
    <div class="card">
      <span class="views">{{ photo.views }}</span>
      <span class="search-tag">{{ photo.title | titlecase }}</span>
      <div class="card-block">
        <img [src]="photo.url_q" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">{{ photo.ownername }}</h5>
          <div class="row">
            <div class="col">
              <p class="mb-0">Uploaded</p>
              <p class="font-weight-bold">{{ parseDateUploaded(photo.dateupload) }}</p>
            </div>
            <div class="col">
              <p class="mb-0">Taken</p>
              <p class="font-weight-bold">{{ parseDateTaken(photo.datetaken)}}</p>
            </div>
          </div>
          <a [routerLink]="['/tags', '8']" class="text-secondary"><small>Show all images</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
