@import '~src/styles/mixins';

.sorter {
  li {
    &:hover { cursor: pointer; }

    border: none;
    text-align: left;
    padding-left: 0;
  }

  .active {
    background-color: transparent;
    color: inherit;
    font-weight: bolder;
  }
}
